* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(128, 126, 126, 0.9) 100%), url(../../resources/bg_image_lol.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(217, 180, 18), rgb(109, 110, 13));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#loading{
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}

.content{
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.champions{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}



@media screen and (min-width: 992px) {
    .content {
        max-width: 1200px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 420px) {
    .champions {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .champions {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .champions {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



